
@import url('https://fonts.googleapis.com/css?family=Trade+Winds');
.header-class{
	background: rgb(0,0,0);
}
.header-text{
	color: rgb(255,255,255);
	font-family: Trade Winds;
	font-size: 55px;
	float: left;
	padding-left: 30px;
	margin-bottom: 9px;
	margin-top: 10px;
	
}
#profile-picture{
	width: 100px;
	height: 100px;
	float: right;
	padding-right: 30px;
}
.footer-class{
	background: rgb(207,198,198);
	padding: 15px;
}
.div1-class{
	padding: 15px;
	background: rgb(255, 133, 51);
}
.footer-text-icons{
	text-decoration: blink;
	text-orientation: upright;
	font-family: serif;
	font-size: 20px;
	padding-right: 10px;
}
body{
	margin: 0px;
}
header{
	margin: 0px;
	height: 100px;
}
footer{
	margin: 0px;
	height: 40px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

