
@import url('https://fonts.googleapis.com/css?family=Faster+One|Satisfy|Trade+Winds');
.header-class{
	background: url("../assets/orange-blue.png");
	background-size:100% 100%;
	padding-top: 40px;
}
.header-text{
	color: rgb(255,255,255);
	font-family: Trade Winds;
	font-size: 55px;
	text-align: center;
	
}
#profile-picture{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border:5px;
	border-style: double;
	border-color: rgb(220,220,220);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div1-class{
	padding: 15px;
	background: rgb(242, 227, 210);
}
.footer-class{
	background: rgb(207,198,198);
	padding: 15px;
}
.footer-text-icons{
	text-decoration: blink;
	text-orientation: upright;
	font-family: serif;
	font-size: 20px;
	padding-right: 10px;
}
body{
	margin: 0px;
	margin-bottom: 60px;
}
header{
	margin: 0px;
	height: 350px;
}
footer{
	position: fixed;
	height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.left
{
  float: left;
  padding-right: 20px;
}

.right
{
  float: right;
}
.timeClock{
	font-family: Faster One;
	font-size: 30px;
}
#logofooter{
	width: 60px;
	height: 60px;
	margin-top: -10px;
}
.quotesText{
	background-color: rgb(255,255,255);
	width: 500px;
	height: 100px;
	text-align: center;
	font-family: Satisfy;
 	margin: auto;
 	font-size: 21px;
 	padding: 15px;
 	border-radius: 25px;
}

